<md-content layout-align="center center" ng-controller="TableController as vm">
    <md-table-container>
        <table flex md-table id="table2" class="table table-hover table-bordered">
            <thead md-head md-order="query.order" md-on-reorder="vm.getItems()">
            <tr md-row>
                <th md-column md-numeric>ZoneID</th>
                <th md-column md-order-by="nameToLower"><span>ZoneRef</span></th>
                <th md-column md-numeric md-order-by="calories.value"><span>Status</span></th>
                <th md-column md-numeric>Capacity</th>
                <th md-column md-numeric>Availability</th>

            </tr>
            </thead>
            <tbody md-body>
            <tr md-row md-select="item" md-select-id="name" md-auto-select ng-repeat="item in vm.tableData">
                <td md-cell>{{item.id}}</td>
                <td md-cell>{{item.issue}}</td>
                <td md-cell>{{item.progress}}</td>
                <td md-cell>{{item.status}}</td>
                <td md-cell>
                    <md-progress-linear class="table-progress {{item.class}}"
                                        md-mode="determinate"
                                        value={{item.progress}}>
                    </md-progress-linear>
                </td>


            </tr>
            </tbody>
        </table>
    </md-table-container>
</md-content>