<md-content layout-align="center center" ng-controller="TableController as vm">
    <md-table-container>
        <table flex md-table id="table1" class="table table-hover table-bordered">
            <thead>
            <tr>
                <th>ZoneID</th>
                <th>ZoneRef</th>
                <th>Status</th>
                <th>Saturation</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="data in vm.tableData track by $index">
                <td data-title="ID">{{$index + 1}}</td>
                <td data-title="Issue">{{data.issue}}</td>
                <td data-title="Status">{{data.status}}</td>
                <td data-title="Progress">
                    <md-progress-linear class="table-progress {{data.class}}"
                                        md-mode="determinate"
                                        value={{data.progress}}>
                    </md-progress-linear>
                </td>
            </tr>
            </tbody>
        </table>
    </md-table-container>
</md-content>