<div layout-gt-md="row">
    <panel-widget flex template="app/views/partials/pieChart.html" title="PieCharts"
                  class="fixed-height-widget"></panel-widget>
    <panel-widget flex template="app/views/partials/usage.html"
                  class="fixed-height-widget"></panel-widget>
</div>


<div layout-gt-md="row">

    <panel-widget flex template="app/views/partials/tableData2.html" title="Parking Zones : Detailed"
                  class="fixed-height-widget"></panel-widget>
</div>
