<div layout-gt-md="row">
    <panel-widget flex title="Site visitors" template="app/views/partials/visitors.html"
                  class="fixed-height-widget"></panel-widget>
    <panel-widget flex title="Warnings" template="app/views/partials/warnings.html"
                  class="fixed-height-widget"></panel-widget>
    <panel-widget flex title="Memory load" template="app/views/partials/memory.html"
                  class="fixed-height-widget"></panel-widget>
</div>

<div layout-gt-md="row">
    <panel-widget flex title="Usage Stats" template="app/views/partials/usage.html"
                  class="fixed-height-widget"></panel-widget>
</div>

<div layout-gt-md="row">

    <panel-widget flex title="Data tables 1" template="app/views/partials/tableData.html"
                  class="fixed-height-widget"></panel-widget>

    <panel-widget flex title="Data tables 2 " template="app/views/partials/tableData2.html"
                  class="fixed-height-widget"></panel-widget>
</div>
